%p
  Welcome to PuzzleNode – a set of fun and compelling Ruby progamming tasks to solve at your leisure.
  View the available puzzles
  = link_to 'on the puzzles page', puzzles_path
  - if signed_in?
    and
  - else
    – or log in via
    = link_to 'GitHub', '/auth/github'
    or
    = link_to 'Twitter', '/auth/twitter'
    to
  start solving them right away.

%h2 announcements
%p …here be announcements…
